
    /* ===== BACKGROUND GENERAL ===== */

body{
    background:#f4f7fb;
}

/* ===== TITULOS ===== */

h1{
    color:#1e293b;
    font-weight:800;
}

/* ===== CARD LOGIN / FORM ===== */

.form-card{
    background:#ffffff;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
    padding:40px;
    transition:.3s;
    border-left:6px solid #28a745;
}

.form-card:hover{
    transform:translateY(-5px);
}

/* ===== INPUTS ===== */

.form-control{
    border-radius:12px;
    padding:12px 15px;
}

.form-control:focus{
    border-color:#28a745;
    box-shadow:0 0 0 0.25rem rgba(40,167,69,.2);
}

/* ===== BOTONES ===== */

.btn-submit{
    background:#28a745;
    border:none;
    font-weight:700;
    border-radius:12px;
    padding:12px;
    transition:.3s;
}

.btn-submit:hover{
    background:#1e7e34;
    transform:translateY(-2px);
}

/* ===== CARDS PEDIDOS ===== */

.card{
    border:none !important;
    border-radius:20px;
    overflow:hidden;
    transition:.3s;
    background:white;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(0,0,0,.12);
}

/* ===== BODY CARD ===== */

.card-body{
    padding:25px;
}

/* ===== TITULO PEDIDO ===== */

.card-title{
    font-weight:700;
    color:#0f172a;
}

/* ===== BADGES ===== */

.badge{
    border-radius:12px;
    padding:8px 12px;
    font-size:.75rem;
}

/* ===== BOTONES ===== */

.btn{
    border-radius:12px;
    font-weight:600;
    padding:12px;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-2px);
}

/* ===== ALERTA ===== */

.alert{
    border:none;
    border-radius:20px;
    padding:35px;
}

/* ===== EMPTY STATE ===== */

.empty-state{
    padding:50px;
    background:#e9f7ee;
    border-radius:15px;
    border:1px dashed #28a745;
    animation:fadeIn 1s ease-out;
}

/* ===== ANIMACION ===== */

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}
